absl-py==2.0.0
adjustText==0.7.3
aiobotocore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_71xswk40o_/croot/aiobotocore_1682537536268/work
aiofiles @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f56ag8l7kr/croot/aiofiles_1683773599608/work
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal==1.3.1
aiosqlite @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3d75lecab1/croot/aiosqlite_1683773918307/work
alabaster==0.7.16
alembic==1.12.1
anaconda-catalogs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e8tmw882qa/croot/anaconda-catalogs_1685727305051/work
anaconda-client==1.11.3
anaconda-navigator==2.4.2
anaconda-project @ file:///Users/cbousseau/work/recipes/ci_py311/anaconda-project_1677964558977/work
anndata==0.10.9
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
applaunchservices @ file:///Users/cbousseau/work/recipes/ci_py311/applaunchservices_1677955996025/work
appnope @ file:///Users/cbousseau/work/recipes/ci_py311/appnope_1677917710869/work
appscript @ file:///Users/cbousseau/work/recipes/ci_py311/appscript_1677956964648/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///Users/cbousseau/work/recipes/ci_py311/argon2-cffi-bindings_1677915727169/work
array_api_compat==1.9.1
arrow @ file:///Users/cbousseau/work/recipes/ci_py311/arrow_1677931434012/work
asciitree==0.3.3
astroid @ file:///Users/cbousseau/work/recipes/ci_py311/astroid_1677926110661/work
astropy @ file:///Users/cbousseau/work/recipes/ci_py311_2/astropy_1678994125362/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///Users/cbousseau/work/recipes/ci_py311/async-timeout_1677925030615/work
atomicwrites==1.4.0
attrs==24.2.0
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
Babel @ file:///Users/cbousseau/work/recipes/ci_py311/babel_1677920677615/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tarfile==1.2.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///Users/cbousseau/work/recipes/ci_py311/bcrypt_1677931459811/work
beautifulsoup4==4.12.3
bibtexparser==1.4.2
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bio==1.5.9
biopython @ git+https://github.com/biopython/biopython.git@947868c487a12799d51173c5f651a44ecb3fb6fa
biothings-client==0.3.0
biotite==0.39.0
black @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_29yzn6blpk/croot/black_1680737263429/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.8.2
bokeh @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7ftqpigyao/croot/bokeh_1684534021168/work
boltons @ file:///Users/cbousseau/work/recipes/ci_py311/boltons_1677965141748/work
botocore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_45ad_8onrk/croot/botocore_1682528014542/work
Bottleneck @ file:///Users/cbousseau/work/recipes/ci_py311/bottleneck_1677925122241/work
brotlipy==0.7.0
cachetools==5.3.2
cellrank==2.0.5
celltypist==1.6.3
certifi==2025.1.31
cffi @ file:///Users/cbousseau/work/recipes/ci_py311/cffi_1677903595907/work
chardet @ file:///Users/cbousseau/work/recipes/ci_py311/chardet_1677931647221/work
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.1
clyent==1.2.2
colorama @ file:///Users/cbousseau/work/recipes/ci_py311/colorama_1677925183444/work
colorcet @ file:///Users/cbousseau/work/recipes/ci_py311/colorcet_1677936559489/work
colorlog==6.7.0
comm @ file:///Users/cbousseau/work/recipes/ci_py311/comm_1677919149446/work
conda @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3ehd9hpsix/croot/conda_1690494984812/work
conda-build @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_83sb1t82jg/croot/conda-build_1685026138255/work
conda-content-trust @ file:///Users/cbousseau/work/recipes/ci_py311/conda-content-trust_1677970020347/work
conda-libmamba-solver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_48qgqxi1ys/croot/conda-libmamba-solver_1685032355439/work/src
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_57h_oo3f_8/croot/conda-package-handling_1685024802254/work
conda-repo-cli==1.0.41
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///Users/cbousseau/work/recipes/ci_py311/conda-index_1677970042779/work
conda_package_streaming @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4fwljxujl7/croot/conda-package-streaming_1685019683894/work
constantly==15.1.0
contourpy==1.3.0
cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
cryptography @ file:///Users/cbousseau/work/recipes/ci_py311_2/cryptography_1678994456782/work
cssselect==1.1.0
cycler==0.12.1
cytoolz @ file:///Users/cbousseau/work/recipes/ci_py311/cytoolz_1677931761799/work
dask==2025.3.0
dask-expr==1.1.19
dask-image==2024.5.3
datasets==2.16.0
datashader @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_45d140pymm/croot/datashader_1685542975108/work
datashape==0.5.4
debugpy @ file:///Users/cbousseau/work/recipes/ci_py311/debugpy_1677919321378/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepchem==2.8.0
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.15
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///Users/cbousseau/work/recipes/ci_py311/dill_1677926161443/work
distributed==2024.11.2
distro==1.9.0
docrep==0.3.2
docstring-to-markdown @ file:///Users/cbousseau/work/recipes/ci_py311/docstring-to-markdown_1677931891483/work
docutils @ file:///Users/cbousseau/work/recipes/ci_py311/docutils_1677907269557/work
elpigraph-python==0.3.1
entrypoints @ file:///Users/cbousseau/work/recipes/ci_py311/entrypoints_1677911798787/work
et_xmlfile==2.0.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fake-useragent==1.5.1
fasteners==0.19
fastjsonschema @ file:///Users/cbousseau/work/recipes/ci_py311_2/python-fastjsonschema_1678996913062/work
filelock @ file:///Users/cbousseau/work/recipes/ci_py311/filelock_1677909105322/work
flake8 @ file:///Users/cbousseau/work/recipes/ci_py311/flake8_1677931981927/work
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==23.5.26
fonttools==4.54.1
free-proxy==1.1.3
frozenlist==1.5.0
fsspec==2023.10.0
future @ file:///Users/cbousseau/work/recipes/ci_py311_2/future_1678994664110/work
gast==0.5.4
gensim @ file:///Users/cbousseau/work/recipes/ci_py311/gensim_1677971806459/work
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2 @ file:///Users/cbousseau/work/recipes/ci_py311/gmpy2_1677937751357/work
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
gprofiler-official==1.0.0
greenlet @ file:///Users/cbousseau/work/recipes/ci_py311/greenlet_1677926210411/work
grpcio==1.59.3
h11==0.14.0
h5py==3.12.1
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_32bnigmm6q/croot/holoviews_1686339345383/work
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.19.4
hvplot @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_30omxxom8t/croot/hvplot_1686021066828/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.10
igraph==0.11.8
imagecodecs @ file:///Users/cbousseau/work/recipes/ci_py311_2/imagecodecs_1678994839331/work
imageio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c1sh4q1483/croot/imageio_1687264958491/work
imagesize @ file:///Users/cbousseau/work/recipes/ci_py311/imagesize_1677932611633/work
imbalanced-learn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_26_yvb9nba/croot/imbalanced-learn_1685020915768/work
importlib-metadata @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_84cgjb624t/croot/importlib-metadata_1678997087058/work
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
inflect==7.5.0
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///Users/cbousseau/work/recipes/ci_py311_2/intake_1678994948878/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///Users/cbousseau/work/recipes/ci_py311/ipykernel_1677921035781/work
ipython @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bkl1d0l7u/croot/ipython_1680701883396/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f07ugy1hvo/croot/ipywidgets_1679394821999/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///opt/conda/conda-bld/itemloaders_1646805235997/work
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///Users/cbousseau/work/recipes/ci_py311_2/jedi_1678994967789/work
jellyfish @ file:///Users/cbousseau/work/recipes/ci_py311/jellyfish_1677959705446/work
Jinja2==3.1.4
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jiter==0.9.0
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib==1.4.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2a92785vxi/croot/jsonschema_1678983423459/work
jupyter @ file:///Users/cbousseau/work/recipes/ci_py311/jupyter_1677932849424/work
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62liw5pns2/croot/jupyter_console_1679999641189/work
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_23dk3_r5iy/croot/jupyter_events_1684268066707/work
jupyter-highlight-selected-word==0.2.0
jupyter-server @ file:///Users/cbousseau/work/recipes/ci_py311/jupyter_server_1677919944873/work
jupyter-ydoc @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1djmqkjwof/croot/jupyter_ydoc_1683747243427/work
jupyter_client @ file:///Users/cbousseau/work/recipes/ci_py311/jupyter_client_1677914181590/work
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d1sy1hlz9t/croot/jupyter_core_1679906585151/work
jupyter_nbextensions_configurator==0.6.4
jupyter_server_fileid @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a5j1mo_1cs/croot/jupyter_server_fileid_1684273608144/work
jupyter_server_terminals @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e7ryd60iuw/croot/jupyter_server_terminals_1686870731283/work
jupyter_server_ydoc @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_47q6o0w705/croot/jupyter_server_ydoc_1686767400324/work
jupyterlab @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a5omaxlzc0/croot/jupyterlab_1686179674589/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_65wwn9cwab/croot/jupyterlab_widgets_1679055283460/work
jupyterlab_server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0fmfqwbrd7/croot/jupyterlab_server_1680792517631/work
kagglehub==0.3.10
keras==2.15.0
keyring @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8bd22k84zo/croot/keyring_1678999224442/work
kiwisolver==1.4.7
lazy-object-proxy @ file:///Users/cbousseau/work/recipes/ci_py311/lazy-object-proxy_1677925379420/work
lazy_loader @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9c4sl77tg1/croot/lazy_loader_1687264096938/work
legacy-api-wrap==1.4
leidenalg==0.10.2
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==16.0.6
libmambapy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ba7rom_bbt/croot/mamba-split_1680092817644/work/libmambapy
linkify-it-py @ file:///Users/cbousseau/work/recipes/ci_py311/linkify-it-py_1677973036983/work
llvmlite==0.43.0
lmdb @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6fumkuh_c0/croot/python-lmdb_1682522347231/work
locket @ file:///Users/cbousseau/work/recipes/ci_py311/locket_1677925419801/work
loompy==3.0.7
louvain==0.8.2
lxml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bbjv2ox7t8/croot/lxml_1679646469466/work
lz4 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f0mtitgo6y/croot/lz4_1686063770247/work
m2cgen==0.10.0
Mako==1.3.0
Markdown @ file:///Users/cbousseau/work/recipes/ci_py311/markdown_1677932925449/work
markdown-it-py @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_43l_4ajkho/croot/markdown-it-py_1684279912406/work
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline @ file:///Users/cbousseau/work/recipes/ci_py311/matplotlib-inline_1677918241899/work
matplotlib-scalebar==0.9.0
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///Users/cbousseau/work/recipes/ci_py311/mdit-py-plugins_1677995322132/work
mdurl @ file:///Users/cbousseau/work/recipes/ci_py311/mdurl_1677942260967/work
memory-profiler==0.61.0
mistune @ file:///Users/cbousseau/work/recipes/ci_py311/mistune_1677916714667/work
ml-dtypes==0.2.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1637733554872/work
mpmath==1.2.1
msgpack @ file:///Users/cbousseau/work/recipes/ci_py311/msgpack-python_1677909260136/work
multidict==6.1.0
multipledispatch @ file:///Users/cbousseau/work/recipes/ci_py311/multipledispatch_1677960800437/work
multiprocess @ file:///Users/cbousseau/work/recipes/ci_py311/multiprocess_1677942297511/work
multiscale_spatial_image==2.0.2
munkres==1.1.4
mygene==3.2.2
mypy-extensions==0.4.3
natsort==8.4.0
navigator-updater==0.4.0
nbclassic @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d6oy9w0m3l/croot/nbclassic_1681756176477/work
nbclient @ file:///Users/cbousseau/work/recipes/ci_py311/nbclient_1677916908988/work
nbconvert @ file:///Users/cbousseau/work/recipes/ci_py311/nbconvert_1677918402558/work
nbformat @ file:///Users/cbousseau/work/recipes/ci_py311/nbformat_1677914501406/work
nest-asyncio @ file:///Users/cbousseau/work/recipes/ci_py311/nest-asyncio_1677912430289/work
networkx==3.4.2
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
notebook @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a38gtdrjqf/croot/notebook_1681756176593/work
notebook_shim @ file:///Users/cbousseau/work/recipes/ci_py311/notebook-shim_1677921216909/work
npm==0.1.1
numba==0.60.0
numcodecs==0.15.1
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76yyu1p9jk/croot/numexpr_1683221830860/work
numpy==1.26.4
numpy-groupies==0.11.2
numpydoc @ file:///Users/cbousseau/work/recipes/ci_py311/numpydoc_1677960919550/work
oauthlib==3.2.2
ome-zarr==0.10.3
omnipath==1.0.9
openai==1.75.0
OpenMM==8.1.1
openpyxl==3.1.5
opt-einsum==3.3.0
optional-django==0.1.0
optuna==3.4.0
outcome==1.3.0.post0
owlready2==0.46
packaging==24.1
pandas==2.2.3
pandoc==2.4
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_078ihoit_6/croot/panel_1686063758214/work
param @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cfp588uo3i/croot/param_1684915323490/work
parsel @ file:///Users/cbousseau/work/recipes/ci_py311/parsel_1678068232273/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.2
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///Users/cbousseau/work/recipes/ci_py311_2/pathspec_1678995598596/work
patsy==0.5.6
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==11.0.0
PIMS==0.7
pkginfo @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d1oq9rhye6/croot/pkginfo_1679431178842/work
platformdirs @ file:///Users/cbousseau/work/recipes/ci_py311/platformdirs_1677909443319/work
plotly @ file:///Users/cbousseau/work/recipes/ci_py311/plotly_1677953301864/work
pluggy @ file:///Users/cbousseau/work/recipes/ci_py311/pluggy_1677906980825/work
plumbum==1.9.0
ply==3.11
polars==1.27.1
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
progressbar2==4.5.0
prometheus-client @ file:///Users/cbousseau/work/recipes/ci_py311_2/prometheus_client_1678996808082/work
prompt-toolkit @ file:///Users/cbousseau/work/recipes/ci_py311/prompt-toolkit_1677918689663/work
propcache==0.2.0
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==4.23.4
psutil @ file:///Users/cbousseau/work/recipes/ci_py311_2/psutil_1678995687212/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo @ file:///Users/ktietz/demo/mc3/conda-bld/py-cpuinfo_1629480366017/work
py-monocle @ file:///Users/gaoyiming/Desktop/scBench/py-monocle
pyarrow==19.0.1
pyarrow-hotfix==0.6
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///Users/cbousseau/work/recipes/ci_py311/pycodestyle_1677927047034/work
pycosat @ file:///Users/cbousseau/work/recipes/ci_py311/pycosat_1677933552468/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///Users/cbousseau/work/recipes/ci_py311/pyct_1677933596803/work
pycurl==7.45.2
pydantic==2.11.3
pydantic_core==2.33.1
PyDispatcher==2.0.5
pydocstyle @ file:///Users/cbousseau/work/recipes/ci_py311/pydocstyle_1677933616104/work
pyerfa @ file:///Users/cbousseau/work/recipes/ci_py311/pyerfa_1677933632816/work
pyflakes @ file:///Users/cbousseau/work/recipes/ci_py311/pyflakes_1677927066386/work
pygam==0.9.1
Pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_29bs9f_dh9/croot/pygments_1684279974747/work
pygpcca==1.0.4
PyJWT @ file:///Users/cbousseau/work/recipes/ci_py311/pyjwt_1677933681463/work
pylint @ file:///Users/cbousseau/work/recipes/ci_py311/pylint_1677933699245/work
pylint-venv @ file:///Users/cbousseau/work/recipes/ci_py311/pylint-venv_1677961443839/work
pyls-spyder==0.4.0
pynndescent==0.5.13
pyobjc-core @ file:///Users/cbousseau/work/recipes/ci_py311/pyobjc-core_1678112643033/work
pyobjc-framework-Cocoa @ file:///Users/cbousseau/work/recipes/ci_py311/pyobjc-framework-cocoa_1678112805655/work
pyobjc-framework-CoreServices @ file:///Users/cbousseau/work/recipes/ci_py311/pyobjc-framework-coreservices_1678113537167/work
pyobjc-framework-FSEvents @ file:///Users/cbousseau/work/recipes/ci_py311/pyobjc-framework-fsevents_1678112996782/work
pyodbc @ file:///Users/cbousseau/work/recipes/ci_py311/pyodbc_1678001241548/work
pyogrio==0.10.0
pyOpenSSL @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ddecjfxr7g/croot/pyopenssl_1678965309681/work
pyparsing==3.2.0
PyPDF2==3.0.1
pyproj==3.7.1
PyQt5-sip==12.11.0
pyrsistent @ file:///Users/cbousseau/work/recipes/ci_py311/pyrsistent_1677909782145/work
PySocks @ file:///Users/cbousseau/work/recipes/ci_py311/pysocks_1677906386870/work
pytest @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_54uzzjporf/croot/pytest_1684192054308/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-igraph==0.11.6
python-json-logger @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c3baq2ko4j/croot/python-json-logger_1683823815343/work
python-lsp-black @ file:///Users/cbousseau/work/recipes/ci_py311/python-lsp-black_1677961743861/work
python-lsp-jsonrpc==1.0.0
python-lsp-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_73tk9oa5lj/croot/python-lsp-server_1681930403042/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-snappy @ file:///Users/cbousseau/work/recipes/ci_py311/python-snappy_1677954153933/work
python-utils==3.8.2
pytoolconfig @ file:///Users/cbousseau/work/recipes/ci_py311/pytoolconfig_1677952331058/work
pytz==2024.2
pyviz-comms @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_54a2e0jluq/croot/pyviz_comms_1685030719530/work
PyWavelets @ file:///Users/cbousseau/work/recipes/ci_py311/pywavelets_1677934749412/work
PyYAML @ file:///Users/cbousseau/work/recipes/ci_py311/pyyaml_1677927153992/work
pyzmq @ file:///Users/cbousseau/work/recipes/ci_py311/pyzmq_1677912759914/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///Users/cbousseau/work/recipes/ci_py311/qstylizer_1678072198813/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///Users/cbousseau/work/recipes/ci_py311/qtawesome_1677961781784/work
qtconsole @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_86g4aht18r/croot/qtconsole_1681394233851/work
QtPy @ file:///Users/cbousseau/work/recipes/ci_py311/qtpy_1677925820115/work
queuelib==1.5.0
rdkit==2024.3.3
regex @ file:///Users/cbousseau/work/recipes/ci_py311/regex_1677961821876/work
requests==2.32.3
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-oauthlib==1.3.1
requests-toolbelt @ file:///Users/ktietz/demo/mc3/conda-bld/requests-toolbelt_1629456163440/work
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rfc3339-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76ae5cu30h/croot/rfc3339-validator_1683077051957/work
rfc3986-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0l5zd97kt/croot/rfc3986-validator_1683058998431/work
rich==13.9.4
rope @ file:///Users/cbousseau/work/recipes/ci_py311/rope_1677934821109/work
rpy2==3.5.16
rsa==4.9
Rtree @ file:///Users/cbousseau/work/recipes/ci_py311/rtree_1677961892694/work
ruamel-yaml-conda @ file:///Users/cbousseau/work/recipes/ci_py311/ruamel_yaml_1677961911260/work
ruamel.yaml @ file:///Users/cbousseau/work/recipes/ci_py311/ruamel.yaml_1677934845850/work
s3fs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_94qu8izf0w/croot/s3fs_1682551484893/work
sacremoses @ file:///tmp/build/80754af9/sacremoses_1633107328213/work
safetensors==0.5.3
scanpy==1.10.3
scFates==1.0.8
scholarly==1.7.11
scikit-image @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_12rg0hdzgk/croot/scikit-image_1682528304529/work
scikit-learn==1.2.2
scikit-misc==0.5.1
scikit-posthocs==0.11.2
scipy==1.14.1
Scrapy @ file:///Users/cbousseau/work/recipes/ci_py311/scrapy_1678002824834/work
scvelo==0.3.2
seaborn==0.13.2
selenium==4.26.1
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers==2.2.2
sentencepiece==0.2.0
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
session-info==1.0.0
shapely==2.0.6
simpleppt==1.1.4
sip @ file:///Users/cbousseau/work/recipes/ci_py311/sip_1677923661665/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicerator==1.1.0
smart-open @ file:///Users/cbousseau/work/recipes/ci_py311/smart_open_1677955621457/work
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.6
spatial_image==1.2.1
spatialdata==0.3.0
Sphinx==7.3.7
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml==2.0.0
spyder @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f02k_edsgq/croot/spyder_1681934090757/work
spyder-kernels @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_18_uk_uzcm/croot/spyder-kernels_1681309301436/work
SQLAlchemy @ file:///Users/cbousseau/work/recipes/ci_py311/sqlalchemy_1677934876727/work
squidpy==1.6.5
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.14.4
stdlib-list==0.11.0
sympy==1.13.1
tables @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2d3fzevm9d/croot/pytables_1685123231215/work
tabulate @ file:///Users/cbousseau/work/recipes/ci_py311/tabulate_1678003852126/work
TBB==0.2
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0ew5sfng29/croot/tenacity_1682972282256/work
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.3.0
terminado @ file:///Users/cbousseau/work/recipes/ci_py311/terminado_1677918849903/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
texttable==1.7.0
threadpoolctl==3.5.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tiktoken==0.9.0
tinycss2 @ file:///Users/cbousseau/work/recipes/ci_py311/tinycss2_1677917352983/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
tokenizers==0.15.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///Users/cbousseau/work/recipes/ci_py311/tomli_1677905024737/work
tomlkit @ file:///Users/cbousseau/work/recipes/ci_py311/tomlkit_1677911131859/work
toolz @ file:///Users/cbousseau/work/recipes/ci_py311/toolz_1677925870232/work
torch==2.6.0
torch-geometric==2.6.1
torchvision==0.21.0
tornado @ file:///Users/cbousseau/work/recipes/ci_py311/tornado_1677913116168/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
transformers==4.35.2
trio==0.27.0
trio-websocket==0.11.1
Twisted @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3c_lnc4s5c/croot/twisted_1683796895946/work
typeguard==4.4.2
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.2
tzlocal==5.2
uamc-qed==1.0.2
uc-micro-py @ file:///Users/cbousseau/work/recipes/ci_py311/uc-micro-py_1677963537430/work
ucimlrepo==0.0.7
ujson @ file:///Users/cbousseau/work/recipes/ci_py311/ujson_1677927397272/work
umap-learn==0.5.7
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3==2.2.3
validators==0.34.0
vina==1.2.5
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
watchdog @ file:///Users/cbousseau/work/recipes/ci_py311/watchdog_1677963700938/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.1
whatthepatch @ file:///Users/cbousseau/work/recipes/ci_py311/whatthepatch_1677934976505/work
widgetsnbextension @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cd_nvw5x1_/croot/widgetsnbextension_1679313872684/work
wrapt @ file:///Users/cbousseau/work/recipes/ci_py311/wrapt_1677925966862/work
wsproto==1.2.0
wurlitzer @ file:///Users/cbousseau/work/recipes/ci_py311/wurlitzer_1677955854875/work
xarray==2024.11.0
xarray-dataclasses==1.9.1
xarray-schema==0.0.3
xarray-spatial==0.4.0
xlrd==1.2.0
xlwings @ file:///Users/cbousseau/work/recipes/ci_py311_2/xlwings_1678996173448/work
xxhash @ file:///Users/cbousseau/work/recipes/ci_py311/python-xxhash_1677954188023/work
xyzservices @ file:///Users/cbousseau/work/recipes/ci_py311/xyzservices_1677927443768/work
y-py @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_58d555zc6u/croot/y-py_1683555409055/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl==1.17.1
ypy-websocket @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e638ipunz1/croot/ypy-websocket_1684192343550/work
zarr==2.18.4
zict==3.0.0
zipp @ file:///Users/cbousseau/work/recipes/ci_py311/zipp_1677907997878/work
zope.interface @ file:///Users/cbousseau/work/recipes/ci_py311/zope.interface_1678055276546/work
zstandard @ file:///Users/cbousseau/work/recipes/ci_py311_2/zstandard_1678996192313/work
